<div style="background-color:#EEE;width:100%;padding:20px;">
	<table style="margin:auto;" cellspacing="0" cellpadding="0">
		<tr>
			<td style="background-color:#fff;padding: 10px 15px;" height="78px" width="266px">
				<img src="{{ absolute_url(asset('bundles/app/images/logo-hdpi.png')) }}" valign="top" style="vertical-align:top;" alt="Munin for Android" /> Munin for Android
			</td>
			<td style="font-family:Verdana;padding: 10px 15px;font-size:20px;color:#444;text-align:right;background-color:#fff;" width="318px">
				{{ title }}
			</td>
		</tr>
		<tr style="background-color: #CBCBCB;height: 1px;"><td colspan="2"></td></tr>
		<tr>
			<td style="padding:20px;background-color:#F8F8F8;" colspan="2">
				{{ content|raw }}
			</td>
		</tr>
	</table>
</div>
