{% extends 'AppBundle::mailBody.html.twig' %}

{% block title %}New Munin-for-Android-GCM-Proxy error{% endblock %}

{% block content %}
	<p>A new exception alert was triggered by Munin-for-Android-GCM-Proxy.</p>
	<p><b>Error: </b> {{ error.exception }}</p>
	<p><b>Structure: </b> {{ error.structure }}</p>
{% endblock %}
